/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


/* reset */
h1,h2,body,#logincheck{
    margin: 0;
    padding: 0;
}

/* design */
body{
    background-color: #F2F2F2;;
}

.modal_login{
    display: none;
    width: 520px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 150px auto;
    position: relative;
}
.header{
    border-bottom:1px solid #C4C4C4;
    text-align: center;
    position: relative;
}
.title{
    display: inline-block;
    font-family: 'Spoqa Han Sans Neo';
    margin: 19px auto 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

input[type="radio"]{
    display: none;
}

#logincheck{
    content: url(./img/check.png);
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: middle;
}

#logincheck:checked{
    content: url(./img/checked.png);
    margin-right: 8px;
}


.close{
    background-image: url(./img/close.png);
    background-size: 16px;
    z-index: 3;
    width: 16px;
    height: 16px;
    position: absolute;
    border: none;
    background-color: transparent;
    right:24px;
    top:22px;
}

.wrap{
    padding: 26px 23px 24px;
}
.modal_content{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

#id,#pw{
width: 472px;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Spoqa Han Sans Neo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #767676;
padding: 15px 16px;
}

#id{
    margin-bottom: 10px;
}

#pw{
    margin-bottom: 17px;
}

.checklabel{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #767676;
font-family: 'Spoqa Han Sans Neo';
}

.modal_login_button{
display: inline-block;
width: 472px;
background: #2F80ED;
border-radius: 5px;
border: none;
text-align: center;
padding: 14px 0px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: white;
text-decoration: none;
margin: 21px 0 20px;
cursor: pointer;
}

.link_wrap{
    text-align: center;
}
.sign,.find{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #767676;
text-decoration: none;
font-family: 'Spoqa Han Sans Neo';
}

.sign::after{
content: '|';
display: inline-block;
color: #767676;
margin-left: 6px;
}

.line{
display: inline-block;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #767676;
margin: 30px 0 20px;
font-family: 'Spoqa Han Sans Neo';
}

.line::before{
    content: '';
    display: inline-block;
    width: 210px;
    height: 1px;
    background-color: #C4C4C4;
    vertical-align: middle;
    margin-right: 12px;

}
.line::after{
    content: '';
    display: inline-block;
    width: 210px;
    height: 1px;
    margin-left: 12px;
    background-color: #C4C4C4;
    vertical-align: middle;
}

.btn {
    display: block;
    width: 472px;
    border: 1px solid #767676;
    box-sizing: border-box;
    border-radius: 5px;
    color: #767676;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

/* .snsimg{
    width: 28px;
    float: left;
    text-align: center;
} */

.google::before{
    content: '';
    background-image: url(./img/sprites_4x.png);
    background-position: -150px -150px;
    background-size: 60px;
    float: left;
    width: 28px;
    height: 28px;
}

.facebook{
    border: 1px solid #2D9CDB;
}

.facebook::before{
    content: '';
    background-image: url(./img/sprites_4x.png);
    background-position: 0 -150px;;
    background-size: 60px;
    float: left;
    width: 28px;
    height: 28px;
}

.naver::before{
    content: '';
    background-image: url(./img/sprites_4x.png);
    background-position: 150px 0;
    background-size: 60px;
    float: left;
    width: 28px;
    height: 28px;
}
.naver{
    border: 1px solid #00BF18;

}
.kakao::before{
    content: '';
    background-image: url(./img/sprites_4x.png);
    background-position: 0 0;
    background-size: 60px;
    float: left;
    width: 28px;
    height: 28px;
}
.kakao{
    border: 1px solid #F2C94C;
}